body {
    margin: 0;
    font-family: Afacad Flux;
    font-size: 20px;
    color: black;
    line-height: 1.6;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
}

html {
    overflow-x: hidden;
}

@font-face {
    font-family: Afacad Flux;
    src: url(../fonts/AfacadFlux-Regular.ttf);
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}




::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: 5px 5px 10px #251E16 inset, -5px -5px 10px #251E16 inset;
}


::-webkit-scrollbar-thumb {
    box-shadow: -5px -5px -10px #27211a inset, 5px 5px 5px #251E16 inset;
    background: #251E16;
}


.container-menu {
    width: 100%;
    height: 100vh;
}


























/* container */
.container {
    margin: 0 auto;

}

/* header */
.header {
    transition: all 0.4s;
    position: fixed;
    margin-bottom: auto;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 30px;
    color: white;
}

.header__logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    display: flex;
    font-weight: lighter;
    position: relative;
    transform: scale(1);
    font-family: Arizona-Regular;
    font-size: 40px;
    padding-left: 30%;
}

.header__logo a:hover {
    transform: scale(1.1);
    transition: all .4s;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 25px;
}

.container {
    background-color: rgba(255,255,255,0);
    width: 100%;
    height: 61px;
    min-width: 100%;
    min-height: 100%;
}


/* menu */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 24.5%;
    height: 100%;
    background-color: #251E16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 70px;
    transform: translate(-200%);
    transition: .7s;
    top: 0;
    left: 0;
    right: 0;
    
}

.menu.active {
    transform: translateX(0);
}

nav {
    padding-bottom: 55%;
}

.menu li {
    list-style-type: none;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.menu li a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    position: relative;
    font-size: 55px;
    font-weight: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 
    &:hover {
        transition: .3s ease;
        color: rgb(134, 79, 28,.9);
        transition: .3s ease;
    }
    &::after {
        content: "";
        border-bottom: 1px solid rgb(255, 253, 253);
        display: block;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0%;
    }
    &:hover::after {
        width: 100%;
        height: 3px;
        left: 0;
        transition: all .3s linear;
    }
    &last-child {
        position: absolute;
        top: -1000%;
        left: 0;
        transform: scale(3);
    }
    &last-child:hover {
    top: 100%;
    transition: top .3s ease, transform .3s linear;
    transform: scale(1);
    }
}

.menu li a text {
    font-weight: 1;
}

.logoLetter img{
    z-index: -1000;
    position:absolute;
    bottom:0;
    right:0
}

.menuBtn {
    position: relative;
    padding: 25px 25px 25px 25px;
    cursor: pointer;
}

.menuBtn a {
    text-decoration: none;
    width: 400%;
    height: 400%;
}

.menuBtn.active a {
    text-decoration: none;
}

.menuBtn span {
    width: 25px;
    height: 1px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    transition: all .2s;
}

.menuBtn span:nth-of-type(2) {
    top: calc(50% - 7px);
}

.menuBtn span:nth-of-type(3) {
    top: calc(50% + 7px);
}

.menuBtn.active span:nth-of-type(1) {
    transform: translate(5%) rotate(0deg);
    top: calc(50% - 1px);

}

.menuBtn.active span:nth-of-type(2) {
    transform: translate(0) rotate(-45deg);
    width: 13px;
    top: calc(50% - 5.9px);
}
.menuBtn.active span:nth-of-type(3) {
    transform: translate(0) rotate(45deg);
    width: 13px;
    top: calc(50% + 3.8px);
}

.butRes {
    text-align: center;
    margin-right: px;
    border-radius: 10px;
    position:static;
    background-color:#000000;
    padding: 1px 30px;
    &:hover {
        color: rgb(0, 0, 0);
        transform: scale(1.03);
        transition: all .3s;
    }
}



.butRes a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    font-family: Afacad Flux;
    &:hover {
        color: rgb(100, 100, 100);
        transition: all .3s;
    }
}
.modal {
    width: 75%;
    height: 75%;
    border: 1px solid #505050;
    padding: 0;
    background-color: #ffffff;

    
}

.modal::backdrop {
    background-color: #201f1f;
    opacity: 0.8;
    
}

.header-modal__inner {
    min-width: 100%;
    height: 61px;
    background-color: #251E16;
    top: 0 auto;
    box-shadow: 1px 1px 1px 1px black;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.btn-close {
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 50px;
    font-family: Afacad Flux;
    color: white;
    font-weight: 400;
}


.header-modal-logo {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    display: flex;
    font-weight: lighter;
    position: relative;
    transform: scale(1);
    font-family: Arizona-Regular;
    font-size: 40px;
    position: absolute;
    transform: scale(1);
    left: 45.5%;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        transition: all 0.4s;
    }  
}  

.header-modal-logo a {
    text-decoration: none;
    color: white;
}


.card-container h1 {
    color: white;
    box-sizing: 1px 1px 1px black;
}


.banner {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: space-between;
    
}

.card-right {
    position: relative;
    border-left: 1px solid rgb(0, 0, 0);
    height: 68vh;

    display: flex;
    margin-left: 5%;

}

.form-row {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

form {
    margin-top: 9%;
}

form select, form input {
    display: block;
    width: 100%;
    margin: 10px 10px;
    padding: 30px;
    font-family: Afacad Flux;
    font-size: 21px;
    outline: none;
    border-radius: 10px;
   border: 1px solid rgb(116, 116, 116);
    font-weight: 400;
}

form inpit[type = text], form input[type = number], form input::placeholder,select {
    color: #2c2c2c;
    padding: 8px;
}

form input[type = submit]{
    color: #fff;
    background: black;
    padding: 30px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transform: scale(1);
}

form input[type = submit]:hover{
    transform: scale(1.02);
    transition: all .4s;
    color: rgb(168, 168, 168);
}

form input[type = sumbit]:hover {
    opacity: 0.9;
    border: none;
}

@media(max-width:700px) {
    .card-container{
    flex-direction: column;
}

.card-right {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

.card-left {
    min-width: 100%;
    margin: 0;
}
.container-seat {
    min-width: 100%;
    margin: 0 0 0 0;
}

.row-container {
    display: flex;
    position: relative;

}

.seat2 {
    background: #020202;
    width: 10px;
    height: 10px;
}
}



.card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    font-family: Afacad Flux;
    margin: 0;
    padding: 0;
}

.seat2 {
    background-color: #ad9d84;
    height: 100px;
    width: 100px;
    margin: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(5, 5, 5);
    font-size: 30px;
}


.seat4 {
    background-color: #ad9d84;
    height: 120px;
    width: 120px;
    margin: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.seat6 {
    background-color: #ad9d84;
    height: 140px;
    width: 140px;
    margin: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.seat6bar {
    background-color: #8a4d2a;
    height: 200px;
    width: 200px;
    margin: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(253, 253, 253);
}

.seatex {
    background-color: #3e3e72;
    height: 15px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.seat2.selected {
    background-color: green;
}

.seatex.selected {
    background-color: green;
}

.seatex.sold {
    background-color: #424142;;
}

.seat2.sold {
    background-color: #424142;
    color: rgb(129, 128, 128);
}

.seat2.selected {
    background-color: rgb(67, 117, 67);
    color: white;
}

.seat4.sold {
    background-color: #424142;
    color: rgb(129, 128, 128);
}

.seat4.selected {
    background-color: rgb(67, 117, 67);
}

.seat6.sold {
    background-color: #424142;
    color: rgb(129, 128, 128);
}

.seat6.selected {
    background-color: rgb(67, 117, 67);
}


.seat2:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.1);
}
.seat4:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.1);
}
.seat6:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.1);
}

.showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.showcase{
    background: rgb(245, 245, 245);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 400;
}

.container-seat {
    border: 4px solid rgb(0, 0, 0);
    border-radius: 5%;
    min-width: 100%;
    height: 90%;
    margin-left: 5%;

}

.row-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.row3{
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.reception {
    background-color: #020202;
    height: 50px;
    width: 50%;
    margin: 15px 25%;
    transform: rotateX(5deg);
    box-shadow: 0 3px 10px rgba(53, 51, 51, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reception p {
    text-shadow: 1px 1px 1px rgb(121, 119, 119);
    color: white;
}



.main-image {
    background-image: url(../img/main-imagemain.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    min-height: 100vh;
    display: flex;
    border-bottom: 5px solid #251E16;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.main-image h1 {
    color: #ffffff;
    font-size: 150px;
    font-weight: 1;
    font-family: Arizona-Regular;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    cursor: default;
    z-index: 1;
}


@font-face {
    font-family: Arizona-Regular;
    src: url(../fonts/Arizonia-Regular.ttf);
}



.containerb {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    flex-wrap: nowrap;
    align-self: stretch;
    width: 100%;

}


.containerb-center {
    display: flex;
    flex-direction: column; 
    order: 2;
    width: 100%;
    height: 80vh;
    flex-wrap: nowrap;
    align-items:start;
    justify-content: space-between;

}


.containerb-center h1 {
    font-weight: 500;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: right;
    flex-direction: left;
    
}
.containerb-center #firstcenter {
    font-weight:normal;
    font-size: 25px;
    display: flex;
    width: 70%;
    text-align: left;
    align-self: flex-start;
    
}

.containerb-center #secondcenter {
    font-weight:normal;
    font-size: 25px;
    width: 70%;
    display: flex;
    align-items: center;                        
    flex-direction: right;
    align-self: flex-end;
    text-align: right;
}

.containerb-center #thirdcenter {
    font-weight:normal;
    font-size: 25px;
    width: 70%;
    display: flex;
    align-items: center;                        
    flex-direction: right;
    align-self: flex-start;
    text-align: left;
}

.containerb-left {
    background-image: url(../img/image-right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 100%;
    background-size: 100% ;
    order: 3;
    display: flex;

}
.containerb-left-bottom {
    background-image: url(../img/image-right-bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 46vh;
    height: 51vh;
    background-size: 100% ;
    display: flex;
    align-self: flex-end;
    position: absolute;
}


.containerb-right {
    background-image: url(../img/image-left.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vh;
    height: 100%;
    background-size: 100% ;
    order: 1;
    display: flex;

}

.containerc {
    display: flex;

}
.containerc-left {
    background-image: url(../img/chef.png);
    background-repeat: no-repeat;
    width: 140vh;
    background-size: cover;
    background-position: center;
    order: 1;
    min-height: 100vh;
    object-fit: cover;
}
.containerc-left-img {
    width: 100%;
}

.containerc-center {
    display: flex;
    order: 2;
    width: 100%;
    padding: 0 15px;
    height: 100vh;

}


.andrei {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
}

.manny {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    float: right;

}

.containerc-center h1 {
    font-weight: 500;
    font-size: 45px;
    display: flex;
    align-items: left;
    justify-content: start;
    text-align: left;
    
}
.containerc-center #firstcenterC {
    font-weight:normal;
    font-size: 25px;
    display: flex;
    width: 100%;
    border-top: 1px solid  #251E16;

    text-align: left;
    
}



.containerc-center #secondcenterC {
    font-weight:normal;
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;                        
    flex-direction: right;
    align-self: flex-end;
    text-align: right;
    border-top: 1px solid  #251E16;
}

.containerc-center .secondcenterC {
    align-self: flex-end;
}

.containerc-right {
    background-image: url(../img/souschef.png);
    background-repeat: no-repeat;
    width: 140vh;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    order: 3;
    object-fit: cover;
}

.containerc-right-img {
    width: 100%;
}

.containerd {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerd_background {
    background-image: url(../img/winebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    min-height: 100vh;
    width: 50%;
    display: flex;
    border-bottom: 5px solid #251E16;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    filter:brightness(85%);
    border-top-right-radius: 10px;

}

.containerd__inner {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.containerd__inner h1 {
    display: flex;
    font-size: 45px;
    border-bottom: 1px solid #251E16;
    width: 100%;
}

.containerd__inner p {
    display: flex;
    font-size: 25px;
}


/* footer */

footer {
    background: #251E16;
    color: white;
    background-image: url(../img/letterLogo.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: bottom;
    background-size: 20%;
    margin: 0 auto;
    padding: 0 auto;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
}

.footer {
    position: relative;
    bottom: 0;
}

footer .ft-title {
    font-size: 25px;
    margin: 0 0 -15px;
    font-weight: 300;
}

footer li {
    font-weight: 100;
    list-style-type: none;
}

.ft-main {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.ft-main-item {
    padding: 1.5rem;
    min-width: 13rem;
    text-align: left;
    display: inline-block;
    

}
.ft-main-item2 {
    padding: 1.5rem;
    min-width: 13rem;
    text-align: left;
    display: inline-block;
    

}
.ft-main-item6 {
    padding: 1.5rem;
    min-width: 13rem;
    text-align: left;
    display: inline-block;
    

}

@media (min-width: 1500px) {
    ft-main {
        justify-content: space-evenly;
    }
}

.ft-title2 {
    font-size: 25px;
    padding: 15px 0 0 0;
    font-weight: 300;

}

.ft-main-item3 li {
    float: left;
}



.ft-main-item3 {
    display: flex;
    flex-direction: column;
}

.ft-title3 {
    padding-top: 24px;
    font-weight: 300;
    font-size: 25px;
}

.ft-title2 ul li {
    font-size: 20px;
}

.ft-main-item {
    left: 0;
}
.ft-title4 {
    font-weight: 300;
    font-size: 25px;
}

.ft-title4 li {
    font-size: 20px;
    display: flex;
}
.ft-title4 ul {
    display: flex;

}

.ft-title5 {
    font-weight: 300;
    font-size: 25px;
}

.ft-title2 p {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 41.4%;
    white-space: nowrap;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    text-decoration: none;
    padding: 0;
}

p {
    margin: 0;
}

#copyright p {
    font-size: 30px;
}

ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 1;
}

#dinner {
    display: flex;
    font-size: 20px;
    padding: 0 13px;
}

.ft-main-item5 {
    padding-bottom: 50px;
    padding: 1.5rem;
    min-width: 13rem;
}

.copyright {
    text-align: center;
    position: relative;
    font-size: 30px;
    font-weight: 100;
    flex: 0 0 100%;
    border-top: 1px solid white;
}

@media (max-width: 700px) {
    .menu {
        width: 100%;
        height: 100%;
    }
    .ft-main {
        justify-content: column;
        height: 100%;
        bottom: 0;
    }

    footer {
        background: #251E16;
        color: white;
        background-image: url(../img/letterLogo.png);
        background-repeat: no-repeat;
        background-position: 100%;
        background-position-y: bottom;
        background-size: 100%;
        bottom: 0 auto;
    }
    .ft-main-item5 {
        padding: 0;
        margin: 2rem;
    }
    .ft-main-item3 {
        padding: 0;
    }
    .ft-main-item3 {
        margin: 2rem;
    }
}


@media (max-width: 768px) {
    .header__logo a {
        padding: 0;
    }

    .containerb-left {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover !important;
        background-position: center;
        min-height: 55vh;
        margin-top: px;
            width: 100%;
            height: 100%;
    }

    .containerb {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .main-image {
        object-fit: cover !important;
        max-width: 100%;
        min-width: 100%;
    }

    .containerb-right {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover !important;
        background-position: center;
        min-height: 50vh;
        margin-top: 50px;
            width: 100%;
            height: 100%;
            order: 4;
    }

    .containerb-left-bottom {
        display: none;
    }

    .containerb #thirdcenter {
        display: none;
    }

    .containerb-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 55px;
        font-size: 15px;
        order: 3;
    }

    .containerb h1 {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .containerb-center {
        width: 100%;
        height: 100%;
    }

    .containerb-center #firstcenter {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .containerb-center #secondcenter {
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: left;
    }

    .containerb-center #secondcenter {
        order: 1;
    }

    .containerc {
        min-width: 100%;
        height: 100vh;
        flex-direction: column;
        display: flex;
    }

        .containerc-left {
        background-size: 100%;
        background-position: center;
        width: 100%;
        min-height: 65%;
        display: flex;
        order: 1;

    }
    .containerc-right {
        background-size:100%;
        background-position: center;
        width: 100%;
        min-height: 50%;
        display: contents;
        order: 3;
    }

    .containerc-center {
        display: flex;
        flex-direction: row; 
        padding: 0 5px;
        width: 100%;
        height: 1vh;
    }
    
    }
    .containerd {
    background-image: url(../img/winebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    filter:brightness(100%);
    }

.containerd_background {
    width: 0%;
}
.containerd__inner {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter:brightness(50%);
    align-items: center;
}

.containerd__inner p {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.containerd__inner h1 {
    font-size: 25px;
    color: white;
    filter: brightness(100%);
}

    .containerc-center #firstcenterC {
        font-weight:normal;
        font-size: 20px;
        display: flex; 
    }
    

    .andrei {
        display: flex;
        flex-direction: column;
        padding: 0;
    }


    .manny, .manny .secondcenterC, .manny #secondcenterC, .manny #secondcenterC h1, .manny #secondcenterC, .manny #secondcenterC h2, .manny .secondcenterC h1, .manny .secondcenterC h2  {
        display: none;
    }
    

    .containerc-center h1 {
        font-weight: 500;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }

    .containerc-center #firstcenterC {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .containerc-center #firstcenterC h2 {
        font-size: 20px;
        align-items: center;
        text-align: center;
    }
    
    
    #logoAe {
        font-size: 115px;
        padding-right: 5%;
    }

    .footer {
        min-width: 100%;
    }


    .butRes {
        padding: 1px 15px;
    }

    .form-row {
        width: 65%;
    }

    .header-modal {
        width: 100%;
    }

    .header-modal-logo {
        margin-left: -55px;
    }

    .modal {
        width: 100%;
        height: 100%;
    }
    .container-seat {
        position: relative;
        min-width: 100%;
        height: 95%;
        border: none;
    }

    .seat2 {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
    }

    .seat4 {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        font-size: 20px;
    }

    .seat6 {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        font-size: 20px;
    }

    .seat6bar {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        font-size: 20px;
    }

    .row2 {
        padding: 0;
    }
    .row1 {
        padding: 0;
        margin: 0;

    }
    .row3 {
        padding-bottom: 15px;
        margin: 0;

    }
    .form-row {
        width: 100%;
    }

}
